body {
    font-family: Calibri, Arial, sans-serif;
	font-size: 14px;
	background: url('../images/bg_tile.gif');
	margin: 0;
}

@font-face {
    font-family: 'TodaySHOP-BoldRegular';
    src: url('fonts/todayshop-bold-webfont.eot');
    src: url('fonts/todayshop-bold-webfont.eot?#iefix') format('eot'),
         url('fonts/todayshop-bold-webfont.woff') format('woff'),
         url('fonts/todayshop-bold-webfont.svg#webfont4Kksikqx') format('svg');
    font-weight: normal;
    font-style: normal;
}



h1, h2, h3, h4, h5 {
	font-family: 'TodaySHOP-BoldRegular';
	color: #23262d;
	text-shadow: 0 1px 0 rgba(255,255,255,0.01);
	position: relative;
}

h1 {
	margin: 0;
	padding: 1em 0;
	font-size: 3em;
}

h2 {
	padding-bottom: 4px;
	border-bottom: 2px solid #23262d;
	font-size: 1.7em;
}

h3 {
	text-transform: uppercase;
	font-size: 1em;
	margin: 1.2em 0;
}

p {
	font-size: 1.1em;
	margin: 1.3em 0;
	line-height: 1.7em;
}

li {
	font-size: 1.1em;
	line-height: 2em;
}

p code {
	background: rgba(255,248,68,0.15);
	padding: 0 2px;
}

#mainContainer {
	width: 750px;
	margin: 0 auto;
}

.syntaxhighlighter {
	padding: 1em;
}

.entry {
	margin-bottom: 5em;
}



/* === DEEP LINKING === */
.deepLink {
	position: absolute;
	top: 50%;
	display: block;
	opacity: 0.2;
	filter: alpha(opacity=20);
		-webkit-transition: opacity 0.5s linear;
		-moz-transition: opacity 0.5s linear;
		transition: opacity 0.5s linear;
}
.deepLink:hover {
	opacity: 0.75;
	filter: alpha(opacity=10);
}
h1 .deepLink {
	background: url(../images/link_32.png);
	width: 32px;
	height: 32px;
	margin-top: -20px;
	/*left: -48px;*/
	right: 0;
}
h2 .deepLink {
	background: url(../images/link_16.png);
	width: 16px;
	height: 16px;
	margin-top: -8px;
	/*left: -24px;*/
	right: 3px;
}

/* === TABLE OF CONTENTS === */
#toc {
	position: fixed;
	top: 0;
	right: 0;
	width: 175px;
	height: 100%;
	background: #32383f;
}
#toc .wrapper {
	padding: 0 15px;
}
#toc a {
	display: block;
	margin-bottom: 1em;
	color: #b1bcc9;
	text-decoration: none;
	font-size: 1.1em;
}
#toc a:hover {
	color: #e5ecf5;
}
#toc h1 {
	margin-top: 1.6em;
	font-size: 1.5em;
	color: #f5faff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
}



/* === RESPONSIVE LAYOUT STUFF === */
@media screen and (max-width: 950px){
	#mainContainer {
		width: auto !important;
		margin: 0 225px 0 50px !important;
	}
}/*/mediaquery*/
@media screen and (max-width: 1281px){
	#mainContainer {
		width: 50%;
		margin: 0 0 0 200px;
	}
}/*/mediaquery*/